@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap');


body {
    color: white;
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
}

.select-btn {
    margin: 25px 0 0 15px;
    padding: 5px 10px 5px;
    border-radius: 5px;
    cursor: pointer;
}

label {
    color: white;
    margin-left: 10px;
}

.generated-txt {
    display: inline-block;
    width:60%;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}

.btn-houses {
    display: inline-block;
    width: 8%;
    height: 25vh;
    border-radius: 5px;
    margin: 5px 5px 5px;
    -webkit-transition: border-color 0.5s; /* For Safari 3.1 to 6.0 */
    transition: border-color 0.5s;
}

.btn-stark {
    background-image: url('img/gsstark.png');
    background-size: cover;
    background-position: center;
    
}

    .btn-stark:hover {
        background-image: url('img/stark.png');
        -webkit-box-shadow: -3px -6px 102px -40px rgba(13,86,255,1);
        -moz-box-shadow: -3px -6px 102px -40px rgba(13,86,255,1);
        box-shadow: -3px -6px 102px -40px rgba(13,86,255,1);
        background-size: cover;
        background-position: center;
        border-color: #0f275c;
        cursor:pointer;
    }

.btn-lannister {
    background-image: url('img/gslannister.png');
    background-size: cover;
    background-position: center;
}

    .btn-lannister:hover {
        background-image: url('img/lannister.png');
        -webkit-box-shadow: 5px 6px 138px -40px rgba(255,191,15,1);
        -moz-box-shadow: 5px 6px 138px -40px rgba(255,191,15,1);
        box-shadow: 5px 6px 138px -40px rgba(255,191,15,1);
        background-size: cover;
        background-position: center;
        border-color: #fca103;
        cursor: pointer;
    }

.btn-targaryen {
    background-image: url('img/gstargaryen.png');
    background-size: cover;
    background-position: center;
}

    .btn-targaryen:hover {
        background-image: url('img/targaryen.png');
        -webkit-box-shadow: 28px 7px 174px -40px rgba(255,15,15,1);
        -moz-box-shadow: 28px 7px 174px -40px rgba(255,15,15,1);
        box-shadow: 28px 7px 174px -40px rgba(255,15,15,1);
        background-size: cover;
        background-position: center;
        border-color: #941009;
        cursor: pointer;
    }