@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap');

body {
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
}

.App-header {
    color: white;
}

.inline-b {
    color: white;
    display:inline-block;
}

.section2 {
    background-color: darkred;
    color: white;
    width: 500px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.select-btn{
    margin : 25px 0 0 15px;
}

label {
    color: white;
    margin-left: 10px;
}

.submit-form {
    font-family: 'Cinzel Decorative', cursive;
    font-size:larger;
    display: block;
    padding: 15px 35px 15px;
    border-radius: 10px;
    margin-left: auto;
    margin-top: 35px;
    margin-right: auto;
}